<div class="app-container2">
    <h2>Add User</h2>
    <form class="needs-validation custom-form" novalidate>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="user.name" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" [(ngModel)]="user.email" required>
        </div>

      <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" class="form-control" [(ngModel)]="user.gender" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Rather not say</option>
        </select>
      </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" class="form-control" [(ngModel)]="user.age" required>
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" [(ngModel)]="user.username" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.password" required>
        </div>
    </form>

    <button type="submit" class="btn btn-primary custom-button" (click)="onSubmit()">Add User</button>

</div>
