<mat-toolbar color="primary">
  <span>Profile</span>
</mat-toolbar>
<div>
  <app-chat></app-chat>
  <mat-card class="profile-card">
    <div class="coverImageSection"></div>
    <div
      style="
        background-color: white;
        display: flex;
        justify-content: space-between;
        height: 100px;
      "
    >
      <div style="height: 100px; display: flex">
        <div mat-card-avatar class="profile-picture">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon=""
            role="img"
            style="width: 200px; height: 200px; font-size: 100px"
            >account_circle</mat-icon
          >
        </div>
        <div style="display: flex; align-items: end; margin-left: 20px">
          <mat-card-title *ngIf="user !== null">{{
            user.firstName + " " + user.lastName
          }}</mat-card-title>
        </div>
      </div>
      <div class="profileButtons">
        <button
          class="addButton"
          *ngIf="loggedInUser !== null && loggedInUser.username === username"
        >
          Add cover image
        </button>
        <button
          class="addButton"
          *ngIf="
            isFriend === false &&
            loggedInUser !== null &&
            loggedInUser.username !== this.username &&
            friendRequest === null
          "
          (click)="sendFriendRequest()"
        >
          {{ "Add friend" }}
        </button>
        <button
          class="addButton"
          style="width: 200px"
          *ngIf="
            isFriend === false &&
            loggedInUser !== null &&
            loggedInUser.username !== this.username &&
            friendRequest !== null &&
            friendRequest.senderUsername === loggedInUser.username
          "
        >
          {{ "Friend request already sent" }}
        </button>
        <div *ngIf="isFriend === true">
          <button mat-button [matMenuTriggerFor]="menu" class="addButton">
            Friend
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Unfriend</button>
            <button mat-menu-item>Block</button>
          </mat-menu>
        </div>
        <div
          style="display: flex; flex-direction: column; row-gap: 20px"
          *ngIf="
            isFriend === false &&
            loggedInUser !== null &&
            friendRequest !== null &&
            friendRequest !== undefined &&
            friendRequest.senderUsername !== loggedInUser.username
          "
        >
          <button
            class="addButton"
            *ngIf="loggedInUser !== null"
            (click)="cancelFriendRequest()"
          >
            Cancel friend
          </button>
          <button
            class="addButton"
            *ngIf="loggedInUser !== null"
            (click)="acceptFriendRequest()"
          >
            Accept friend
          </button>
        </div>
      </div>
    </div>
  </mat-card>
  <div class="heroSection">
    <div class="leftArea"></div>
    <div class="postsArea">
      <h2 style="display: flex">Recent posts</h2>
      <mat-form-field
        class="example-full-width"
        style="width: 42vw; height: 200px"
      >
        <mat-label>What's on your mind?</mat-label>
        <input matInput placeholder="Ex. Pizza" value="" />
      </mat-form-field>
      <button class="addPostButton">Post</button>
      <div *ngFor="let post of posts">
        <mat-card-content class="postCard">
          <div class="d-flex">
            <mat-icon
              aria-hidden="false"
              aria-label="Avatar"
              role="img"
              style="font-size: 40px; width: 45px; height: 50px"
              >account_circle
            </mat-icon>
            <div style="display: flex; flex-direction: column">
              <span style="font-weight: 800" *ngIf="user !== null">
                {{ user.firstName + " " + user.lastName }}
              </span>
              <span style="text-wrap: nowrap; font-size: 12px">{{
                post.publicationDate
              }}</span>
            </div>
          </div>

          <p style="font-weight: 800">{{ post.title }}</p>
          <p>{{ post.content }}</p>
          <div class="d-flex">
            <span>{{ post.likes }} &nbsp; </span>
            <mat-icon
              aria-hidden="false"
              aria-label="Like"
              role="img"
              style="
                font-size: 17px;
                width: 25px;
                height: 25px;
                color: rgb(0, 183, 255);
              "
              >thumb_up
            </mat-icon>
          </div>
          <div style="display: flex; justify-content: space-around">
            <div class="d-flex reactButton">
              <mat-icon
                aria-hidden="false"
                aria-label="Like"
                role="img"
                style="
                  font-size: 17px;
                  width: 25px;
                  height: 25px;
                  color: rgb(175, 175, 175);
                "
                >thumb_up
              </mat-icon>
              <span>Like &nbsp;</span>
            </div>
            <div class="d-flex reactButton">
              <mat-icon
                aria-hidden="false"
                aria-label="Like"
                role="img"
                style="
                  font-size: 17px;
                  width: 25px;
                  height: 25px;
                  color: rgb(175, 175, 175);
                "
                >comment
              </mat-icon>
              <span>Comment &nbsp;</span>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>
<div class="footer"></div>
