:host {
  display: block;
  height: 100%;
}

.profile-card {
  max-width: 85%;
  margin: 20px auto;
}

.profile-picture {
  background-size: cover;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.coverImageSection {
  height: 300px;
}

.postsArea {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.heroSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.postCard {
  background-color: rgba(245, 245, 245, 0.781);
  width: 40vw;
}

.reactButton {
  cursor: pointer;
}

.leftArea {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.intro {
  background-color: rgba(245, 245, 245, 0.781);
}
