:host {
  display: block;
  height: 100%;
}

.profile-card {
  max-width: 85%;
  margin: 20px auto;
  margin-top: 0;
}

.profile-picture {
  background-size: cover;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.coverImageSection {
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  background-image: linear-gradient(black, white);
  height: 300px;
}

.postsArea {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// .heroSection {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }

.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100vh;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.postCard {
  background-color: rgba(245, 245, 245, 0.781);
  width: 40vw;
}

.reactButton {
  cursor: pointer;
}

.leftArea {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.intro {
  background-color: rgba(245, 245, 245, 0.781);
}

.addPostButton {
  background-color: paleturquoise;
  border: 0;
  padding: 10px;
  font-weight: 700;
  width: 42vw;
  border-radius: 20px;
}

.addButton {
  border: 0;
  width: 150px;
  cursor: pointer;
  color: white;
  background-color: grey;
  padding: 10px;
  border-radius: 25px;
}

.footer {
  padding: 10px;
}

.profileButtons {
  padding: 10px;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

/* Liked color */
.liked-color {
  color: green; /* Set your liked color */
}
