<div class="app-container2">
  <h2>What's on you mind?</h2>
  <form class="needs-validation custom-form" novalidate>
    <mat-form-field class="form-group">
      <mat-label>Title:</mat-label>
      <input matInput id="title" name="title" [(ngModel)]="post.title" required>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Content:</mat-label>
      <input matInput id="content" name="content" [(ngModel)]="post.content" required>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Category:</mat-label>
      <input matInput id="category" name="category" [(ngModel)]="post.category" required>
    </mat-form-field>

    <div class="button-container">
      <button mat-button color="primary" class="custom-button" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
