<div class="app-container2">
  <h2>What's on you mind?</h2>
  <form class="needs-validation custom-form" novalidate>
    <mat-form-field class="form-group">
      <mat-label>Title:</mat-label>
      <input matInput id="title" name="title" [(ngModel)]="post.title" required>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Content:</mat-label>
      <input matInput id="content" name="content" [(ngModel)]="post.content" required>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Category: </mat-label>
      <mat-select id="category" name="category" [(ngModel)]="post.category">
        <mat-option value="Option 1">#news</mat-option>
        <mat-option value="Option 2">#animals</mat-option>
        <mat-option value="Option 2">#tech</mat-option>
        <mat-option value="Option 2">#sports</mat-option>
        <mat-option value="Option 2">#food</mat-option>
        <mat-option value="Option 2">#travel</mat-option>
        <mat-option value="Option 2">#fashion</mat-option>
        <mat-option value="Option 2">#health</mat-option>
        <mat-option value="Option 2">#environment</mat-option>
        <mat-option value="Option 2">#art</mat-option>
        <mat-option value="Option 2">#education</mat-option>
        <mat-option value="Option 2">#motivation</mat-option>
        <mat-option value="Option 2">#music</mat-option>
        <mat-option value="Option 2">#other</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-container">
      <button mat-button color="primary" class="custom-button" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
