<mat-card class="my-card">
  <mat-card-header
    style="align-self: center; margin-bottom: 30px; color: #cccccc"
  >
    <mat-card-title>Please login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="" name="email" required #email />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder=""
          [type]="'password'"
          formControlName="password"
          required
          #password
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          class="loginButton"
          type="button"
          [disabled]="!email.value || !password.value"
          (click)="login(email.value, password.value)"
          color="primary"
        >
          LOGIN
        </button>
      </mat-card-actions>
      <span style="color: red">{{ errorAfterLogin }}</span>
      <br />
      <br />
      <p>Don't have an account? <a routerLink="/register">Register here</a></p>
    </form>
  </mat-card-content>
</mat-card>
