/* Your existing styles */
.emphasise-menu-item {
  font-weight: bold;
  font-size: larger;
}

/* New styles */
.navbar {
  width: 100%; /* Make the navbar span the full width */
}

.navbar .navbar-nav .nav-item {
  margin: 10px 20px;
}

#navbarNav {
  justify-content: center;
}

.app-name-icon {
  font-family: sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add a shadow with offset, blur, and color */
  color: #333;
}
