.mat-toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-name {
  font-family: sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(239, 239, 239, 0.4); /* Add a shadow with offset, blur, and color */
  color: #333;
}

.mat-toolbar mat-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.mat-toolbar a.mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Adjust hover color */
}

/* Logout button styling */
button[mat-button] {
  border-radius: 4px;
  padding: 8px 16px; /* Adjust padding */
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%; /* Extend to full width */
  font-size: 18px;
}
