.search-container {
  text-align: center;
  margin-top: 20px;
}

mat-card {
  display: flex;
  justify-content: center;
}

mat-card-header {
  justify-content: center;
}

.search-input {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  transition: border-color 0.3s;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search-input:hover {
  border-color: #aaa;
}

.search-input:focus {
  border-color: #c30f54;
}

.search-button {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  text-align: center;
}

/* App Container */
.app-container {
  margin-top: 20px; /* Increased top margin for better separation */
}

/* Post */
.post {
  width: 100%;
  max-width: 800px; /* Added max-width for better responsiveness */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px auto; /* Centered the post */
  padding: 15px; /* Increased padding for better spacing */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.username {
  color: #fff;
  font-size: 18px;
}

.content {
  margin-left: 10px;
  font-size: 18px;
}

// .like-icon {
//   color: red;
//   margin-right: 5px;
// }

.like-button {
  padding-left: 10px; /* Adjusted padding for better alignment */
  font-size: 20px;
}

/* Scrollable Container */
.scrollable-container {
  margin-top: 10vh;
  height: max-content;
}

mat-card-content {
  justify-content: center;
}

/* Mat Card Actions */
mat-card-actions {
  margin-top: 20px;
  justify-content: center;
}

/* App Container Height */
.app-container {
  height: auto;
}

/* Liked color */
.liked-color {
  color: red; /* Set your liked color */
}

.disliked-color {
  color: white;
}
