<div class="scrollable-container">
  <div class="search-container">
    <label for="title" class="cool-font">Search by Title:</label>
    <input type="text" id="title" [(ngModel)]="searchQuery" placeholder="Enter title" class="search-input">
    <br>
    <label for="category" class="cool-font">Search by Category:</label>
    <input type="text" id="category" [(ngModel)]="categoryQuery" placeholder="Enter category or content" class="search-input">
    <br>
    <button mat-raised-button color="primary" (click)="filterPosts()" class="search-button">Filter</button>
    <button mat-raised-button (click)="clearFilters()" class="search-button">Clear Search</button>
  </div>
  <div class="app-container">
    <div *ngFor="let post of filteredPosts" class="post">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>{{ post.username }} posted ({{ post.publicationDate | timeAgo }})</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <br />
          <mat-card-subtitle>Title: {{ post.title }}</mat-card-subtitle>
          <br />
          <mat-card-subtitle>Category: {{ post.category }}</mat-card-subtitle>
          <br />
          <mat-card-subtitle
            >Content:<br />{{ post.content }}</mat-card-subtitle
          >
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="likePost(post)">Like</button>
          <span class="like-icon">&#x2764; {{ post.likes }}</span>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

