.search-container {
  text-align: center;
  margin-top: 20px;
}

.search-input {
  width: 500px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

.search-button {
  margin-top: 5px;
  margin-right: 5px;
}

.app-container {
  margin-top: 10px;
}

.post {
  width: 800px;
  height: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px 0;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
}

.post-date {
  color: #777;
}

.post-content {
  margin-top: 10px;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  font-size: 1rem;
  color: #333;
}

.post-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.post-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes {
  display: flex;
  align-items: center;
}

.like-icon {
  color: red;
  margin-right: 5px;
}

.like-button {
  padding-left: 100px;
}

.post-actions {
  display: flex;
  align-items: center;
}

.scrollable-container {
  margin-top: 10vh;
  height: max-content;
}

mat-card-actions {
  justify-content: center;
}

.app-container {
  height: auto;
}

