.custom-table {
  border: 2px solid #ccc; /* Add a border to the table */
}

.custom-table th, .custom-table td {
  padding: 22px; /* Adjust the padding value to control the spacing */
}


.custom-table th {
  background-color: darkgray;
}
