<div class="app-container">
  <div *ngFor="let user of users" class="user-card">
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>{{ user.username }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <span mat-line>{{ user.email }}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>face</mat-icon>
            <span mat-line>Gender: {{ user.gender }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
